body{
  height: 100vh;
  background-color: rgb(243, 243, 243);
  font-size: 20px;
}
.main-data{
  width: 400px;
  background-color: #fff;
  box-shadow: 3px 4px 20px #ccc, -5px -5px 10px #ccc;
  padding: 20px;
  margin: 20px auto;
}
.data{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
button{
  margin: 10px 15px;
  padding: 8px 14px;
  border: none;
  border-radius: 4px;
  background-color: #f4f4f4;
  box-shadow: 3px 4px 20px #dddada;
}
.nav{
  font-size: 18px;
  background-color: #fff;
  border-radius: 14px;
}